@import "tailwindcss";


:root {
    --background: 60 56% 91%;
    --foreground: 240 10% 3.9%;
    --card: 60 56% 94%;
    --card-foreground: 240 10% 3.9%;
    --popover: 60 56% 91%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 120 25% 41%;
    --primary-foreground: 120 25% 95%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 14 71% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 120 25% 41%;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

section {
    @apply w-full py-16 md:py-24;
}

label {
    @apply text-sm font-medium leading-none;
}

h1,
h2,
h3 {
    @apply font-bold;
    font-family: 'Playfair Display', serif;
}

.bg-primary {
    background-color: hsl(var(--primary));
}

.why-us-svgs {
    width: 40px;
    height: 40px;
}

.top-area {
    background-color: #E7E7F8;
}

.section-captions {
    @apply mt-4 max-w-2xl mx-auto;
}

.section-headlines {
    @apply text-3xl tracking-tight sm:text-4xl;
}

.section-container {
    @apply container mx-auto px-4 md:px-6;
}

.grid-containment {
    @apply mt-12 grid grid-cols-1 md:grid-cols-3 gap-8;
}

.top-bar-contact-svgs {
    @apply hidden sm:flex items-center gap-2 text-sm font-medium transition-colors;
}

.contact-svgs {
    @apply flex items-center gap-3 text-lg transition-colors;
}

.logo {
    width: 150px;
    height: auto;
}

.logo-bottom {
    width: 300px;
    height: auto;
}

.normal-svgs {
    width: 24px;
    height: 24px;
}

.small-svgs {
    width: 8px;
    height: 8px;
}

.text-primary {
    color: hsl(var(--primary));
}

.bg-card {
    background-color: hsl(var(--card));
}

.text-muted-foreground {
    color: hsl(var(--muted-foreground));
}

.container-border {
    @apply border;
    border-color: hsl(var(--border));
}

.text-primary-hover {
    @apply duration-300;
}

.text-primary-hover:hover {
    color: hsl(var(--primary));
}

.quote-button {
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium;
    background-color: hsl(var(--primary));
    @apply duration-300;
    color: hsl(var(--primary-foreground));
}

.quote-button:hover {
    background-color: rgb(6, 85, 6)
}

.input-field {
    @apply flex w-full rounded-md border px-3 py-2 text-base focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm mt-2;
    @apply focus-visible:ring-[hsl(var(--ring))];
    background-color: hsl(var(--background));
    border-color: hsl(var(--input));
}